body{
  background: #f7f7f7;
}
#title, .subTitle, postTitle{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color:#505050;
}
#title{
  font-family: Verdana;
  text-transform: uppercase;
}
.postTitle{
  font-family: Verdana, Arial;
  font-size: 16px;
  font-style: italic;
  margin: 0px;
  margin-bottom: 15px;
}
.post{
  background-color: white;
  padding: 15px;
  border: 3px solid black;
  margin-bottom: 15px;
  border-radius: 10px;
}
postContent{
  margin: 0px;
  margin-bottom: 15px;
}
.post img{
  margin-bottom: 15px;
}
.foto{
  width: 100px;
  height: 100px;
  border-radius:50%;
  background-image: url("img/download.png");
  background-size:cover;
}